.container {
  margin: 50px 10px 0;
  font-family: arial;
}
h1 {
  font-size: 30px;
  padding: 50px 0 30px 0;
  text-align: center;
}
.container ul li {
  padding: 5px 10px 5px;
  display: inline-block;
}
input .type=text,
input .type=password {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-color: black;
}
button {
  background-color: #669ff4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: auto;
  box-shadow: 2px 2px 3px 0px black;
  border-radius: 10%;

}
button:hover {
  opacity: 0.8;
