.jumbotron{
  background: url('../img/banner.jpg')
}

header{
  overflow: hidden;
  background-color: #996633;
}

.logo {
  float:left;
}

.login li {
  float: right;
  color: white;
}

.login a {
  color: white;
}

.login li span {
  margin-right: 5px;
  margin-left: 5px;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 20px;
}

.buscador {
  float: left;
  margin-top: 70px;
  margin-left: 290px;
}

.navbar-default {
  background-color: #dfbe9f;
}

footer {
  background-color: #ccc;
}
.footer .container ul {
  margin-top: 5px;
}
.footer .container ul li{
  text-align: center;
  padding-top: 3px;
}
.footer .container p{
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px){
  .footer .container{
    height: 50px;
  }

  .footer .container ul{
    display: block;
    float: right;
  }
  .footer .container ul li{
    display: inline-block;
  }
  .footer .container p{
    float: left;
    padding: 15px 0;
  }
}
